---
layout: blog-page

---

<div class="post-container">
    <article class="post">
    <div class="post-header">
        <time class="post-date" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %-d, %Y" }}</time>
        <h1 class="post-title">{{ page.title | smartify }}</h1>
        {% if page.author %}
            {% assign person_record = site.data.people[page.author] %}
            <div class="post-author">By <a href="https://lil.law.harvard.edu/about/#{{ person_record.name | slugify }}">{{ person_record.name }}</a></div>
        {% elsif page.guest-author %}
            <p class="post-author">Posted by {{page.guest-author}}</p>
        {% endif %}
    </div>
    <div class="post-content" >
        {{ content }}
    </div>
        {% if tags %}
        <div class="post-footer">
            {% include tags.html tags=page.tags categories=page.categories %}
        </div>
        {% endif %}
    </article>
    <div id="mc_embed_signup">
        <p>Want to stay informed about new resources and features? Please subscribe to our monthly newsletter.</p>
        <form action="https://opencasebook.us1.list-manage.com/subscribe/post?u=894c9c0d9d7d7c5f8de8d76aa&amp;id=89f2a23e12"
            method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank"
            novalidate>
            <div class="form-group">
                <label for="mce-EMAIL">Email address</label>
                <input type="email" value="" name="EMAIL" class="form-control" id="mce-EMAIL" placeholder="" required>
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                        name="b_894c9c0d9d7d7c5f8de8d76aa_89f2a23e12" tabindex="-1" value=""></div>
                
                <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe"
                        class="button"></div>
            </div>
        </form>
    </div>
</div>

