---
layout: blog-page

---

<div class="post-container">


      <article class="post" role="article" itemscope itemtype="http://schema.org/BlogPosting">
        <div class="post-header">
            <time class="post-date" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %-d, %Y" }}</time>
            <h1 class="post-title">{{ page.title }}</h1>
            {% if page.author %}
                {% assign person_record = site.data.people[page.author] %}
                <div class="post-author">By {{ person_record.name }}</div>
            {% endif %}
        </div>
        <div class="post-content" itemprop="articleBody">
            {{ content }}
        </div>
          {% if tags %}
          <div class="post-footer">
              {% include tags.html tags=page.tags categories=page.categories %}
          </div>
          {% endif %}
      </article>
    </div>

</div>

