<footer id="main-footer">
  <p id="footer" tabindex="-1" class="sr-only">Footer</p>
<div class="">
  <div class="brand">H2O</div>
  <div class="">
     <ul> 
        <li class=""><a href="https://opencasebook.org/">Home</a></li>
        <li class=""><a href="https://opencasebook.org/pages/about">About</a></li>
        <li class=""><a href="{{ site.baseurl }}/blog/">Blog</a></li>
        <li class=""><a href="https://opencasebook.org/pages/terms-of-service">Terms of Service</a></li>
        <li class=""><a href="https://opencasebook.org/pages/privacy-policy">Privacy Policy</a></li>
        <li class=""><a href="https://accessibility.huit.harvard.edu/digital-accessibility-policy">Accessibility Policy</a></li>
        <li class=""><a href="{{ site.baseurl }}/">Help Guide</a></li>
        <li class=""><a href="https://opencasebook.org/pages/faq">FAQ</a></li>
      </ul>
      <div class="info">
        <div class="link"><a href="mailto:info@opencasebook.org">Contact</a></div>
        <div class="copyright">H2O was built at Harvard Law School by the Library Innovation Lab.</div>
      </div>
  </div>
</div>
</footer>
