<footer id="main-footer">
          <p id="footer" tabindex="-1" class="sr-only">Footer</p>
  <div class="content">
  <div class="brand">H2O</div>
  <div class="layout">
      <div class="info">
        <div class="link"><a href="mailto:info@opencasebook.org">Contact</a></div>
        <div class="copyright">H2O was built at Harvard Law School by the Library Innovation Lab.</div>
      </div>
      <div class="link-group">
        <div class="link"><a href="https://opencasebook.org/">Home</a></div>
        <div class="link"><a href="https://opencasebook.org/pages/about">About</a></div>
        <div class="link"><a href="{{ site.baseurl }}/blog/">Blog</a></div>
        <div class="link"><a href="https://opencasebook.org/pages/terms-of-service">Terms of Service</a></div>
        <div class="link"><a href="https://opencasebook.org/pages/privacy-policy">Privacy Policy</a></div>
        <div class="link"><a href="https://accessibility.huit.harvard.edu/digital-accessibility-policy">Accessibility Policy</a></div>
        <div class="link"><a href="{{ site.baseurl }}/">Help Guide</a></div>
        <div class="link"><a href="https://opencasebook.org/pages/faq">FAQ</a></div>
      </div>
  </div>
</div>
</footer>
