<footer id="footer">
  <div class="footer-wrapper">
    <div class="footer-links">
      <ul>
        <li><a href="https://opencasebook.org">Home</a></li>
        <li><a href="{{ site.baseurl }}">Blog</a></li>
        <li><a href="#">Terms of Service</a></li>
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">About</a></li>
        <li><a href="/">Help Guide</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
    <div class="footer-copyright">
    </div>
  </div>
</footer>