---
---

////////////////////////////////////////////////

// Adapted by adam ziegler and other LIL developers in 2018 from

//  dan o. williams
//  library innovation lab scss
//  styles.scss > ../css/styles.css
//  August 2015
//
//  (subsequently revised in 12/16 by other LIL developers)


////////////////////////////////////////////////
//  variables, mixins, and placeholders
//  fonts
//  normalize
//  select bootstrap classes
//  general body
//  header
//  footer
//  project/sketch nav
//  containers, slices, and sleeves
//  galleries
//  roundup
//  project/sketch pages
//  page specific overrides



////////////////////////////////////////////////////////////////
// Variables, Mixins, and Placeholders
@import "variables-mixins-placeholders";

////////////////////////////////////////////////////////////////
// Fonts
@import "fonts";

////////////////////////////////////////////////////////////////
// Normalize
@import "normalize";

////////
// Nice Things from Bootstrap
@import "bootstrap-helpers";

////////////////////////////////////////////////////////////////
// General Body

*, *:before, *:after {
  box-sizing: inherit;
  text-rendering: optimizeLegibility;
  -webkit-font-variant-ligatures: common-ligatures;
  font-variant-ligatures: common-ligatures;
  -moz-font-feature-settings: "kern=1";
  -webkit-font-feature-settings: "kern";
  -moz-font-feature-settings: "kern";
  font-feature-settings: "kern";
  font-kerning: normal;
  overflow: hidden;
  position: relative;
}

html {
  box-sizing: border-box;
}

html, body {
  overflow: auto;
}

body {
  -webkit-font-smoothing: antialiased;
  @include sans-serif($light, $size-body, 32px);
  color: $color-black;
  font-weight: 400;
  margin: 0 auto;
  background-color: white;
  width: 100%;
  position: relative;
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

// allow us to override some of the arcane things above
.no-ligatures {
  font-variant-ligatures: none;
}

// normalize sets to "bolder", which is not available with our fonts
b, strong {
  font-weight: bold;
}

// Prevent linked urls from breaking layouts
a {
  word-wrap: break-word !important;
}

a {
  color: $color-black;
  text-decoration: none;
  &:link { color: inherit; }
  &:visited { color: inherit; }
  &:hover { color: inherit; }
  &:active { color: inherit; }
}

a[role='button'] {
  @include button-basic(20);
  width: $grid * 29;
  margin: $grid * 3 auto $double auto;
  span { @include include-arrow(1px); }
  &:active {
    span  { @include include-arrow-white; }
  }
}

a.small-btn {
  padding: 10px;
  margin: 15px 0 0 0;

  &:hover{
    padding: 9px;
  }
}

p a, section a, main a {
  @extend %link-inline;
}

.image-link, .image-link a {
  @include link-none($color-black);
}

li p {
  display: inline;
}

ul {
  margin: 0;
  list-style-type: none;
  margin-bottom:1em;

  &.bullet-list {
    list-style-type: disc;
  }
}

ol {
  list-style-type: decimal;
  list-style-position: inside;
  margin-bottom:1em;
}

.img-full-width {
    width: 100%;
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

h1 {
  @include heading-primary;
}

h2 {
  @include heading-secondary;
}


////////////////////////////////////////////////
//  header



header.docs-header {
  width: 90%;
  max-width: 1072px;
  grid-area: header;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 80px;
  margin-left: auto;
  margin-right: auto;
  align-content: center;
  font-weight: 700;

  a {
    padding: 5px 10px;

    &:hover, &:focus {
      @include generic-focus-styles;
    }
  }

  .blog-header-logo {
    font-size: $size-xlarge;
    justify-self: left;
    padding: 5px 10px;

  }

  .header-logo {
    justify-self: left;
    margin-left: 10px;
    @include sans-serif(700, 18px, 100%);
  }

  .sign-in {
    justify-self: right;
  }
}

////////////////////////////////////////////////
//  main

main {
  background-color: $color-white;
  padding-bottom: 40px;
}

.docs-container {
  width: 100%;
  display: grid;
  grid-template-areas:
    "docs-nav"
    "docs-content";

  .docs-nav-wrapper {
    width: 100%;
    grid-area: docs-nav;
    background-color: $color-gray;

    .docs-nav {
      text-align: center;
      max-width: 100%;
      padding-top: 20px;
      padding-bottom: 20px;
      display: grid;
      grid-template-rows: auto;

      a {
        font-size: $size-body;
        font-weight: 700;
        text-decoration: none;
        height: 100px;
        width: 100%;
        background-color: $color-white;
        border-bottom: 1px solid $color-gray;
        color: $color-blue;
        display: grid;
        align-content: center;
        justify-self: left;


      }

      a[aria-current="page"] {
        background: $color-blue;
        color: $color-white;
        border-color: $color-blue;

        &:hover, &:focus {
          background: $color-blue;
          color: $color-white;
          border-color: $color-blue;
        }
      }
    }
  }

  .docs-content-wrapper {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    grid-area: docs-content;
    display: grid;
    grid-template-areas: "title" "content";

    .docs-title {
      grid-area: title;
      padding-top: 30px;
      width: 100%;
      text-align: left;
      font-weight: 700;
    }

    .docs-content {
      grid-area: content;
      display: grid;
      text-align: left;

      .left-nav {
        display: none;
      }

      .docs-text {

        h2 {
          font-size: $size-large;
        }

        h3 {
          font-size: $size-body;
          color: $color-black;
        }

        a {
          @extend %link-inline;
        }

        img {
          max-width: 90%;
          box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, .2);
          border: 2px solid $color-gray;

        }

      }
    }

    .docs-content-no-sidebar {
      grid-area: content;
      display: grid;
      text-align: left;

      .left-nav {
        display: none;
      }

      .docs-text {

        h2 {
          font-size: $size-large;
        }

        h3 {
          font-size: $size-body;
          color: $color-black;
        }

        a {
          @extend %link-inline;
        }

        img {
          max-width: 90%;
          box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, .2);
          border: 2px solid $color-gray;

        }
      }
    }
  }
}


@include respond(3) {
  .docs-container {
    grid-template-areas:
            "empty docs-nav empty"
            "empty docs-content empty";


    .docs-nav-wrapper {

      .docs-nav {
        max-width: 1072px;
        width: 95%;
        padding-left: 10px;
        padding-right: 10px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: space-between;

        a {
          height: 120px;
          width: 120px;
          border-bottom: none;
          box-shadow: 0 4px 10px 0 rgba(0, 0, 0, .2);
          align-content: center;
          justify-self: center;
          font-size: $size-body;

          &:hover, &:focus {
            @include nav-focus-styles;
          }
        }
      }
    }
    .docs-content-wrapper {
      max-width: 1072px;
      width: 95%;

      .docs-title {
        grid-area: title;
        padding-top: 30px;
        padding-left: 10px;
        width: 100%;
        text-align: left;

      }

      .docs-content {
        grid-area: content;
        display: grid;
        grid-template-columns: 1fr 3fr;
        text-align: left;

        .left-nav {
          padding-top: 0px;
          display: block;

          ul {
            padding-left: 0px;
            width: 90%;
            margin-right: auto;

            li {
              margin-bottom: 15px;
              padding: 0px 10px;

              a {
                text-decoration: none;
                border-bottom: none;
                font-weight: 700;

                &:focus {
                  @include generic-focus-styles;
                }

                &:hover {
                  color: $color-red;
                }
              }
            }

            &.toc-level-1 {

              li {
                line-height: 28px;
              }

              a {
                font-size: $size-large;
                color: $color-blue;
              }
            }

            &.toc-level-2 {
              padding-left: 20px;
              margin-right: 0px;
              margin-bottom: 0px;

              a {
                font-size: $size-body;
                color: $color-black;
                line-height: 16px;

              }
            }
          }
        }
        .docs-text {
          padding-left: 40px;
          padding-top: 0px;
          border-left: 2px solid $color-gray;

          h2:first-child {
            margin-top: 0px;
          }

        }
      }
    }
  }
}

@include respond(4) {
  .docs-container {
    .docs-nav-wrapper {
      .docs-nav {
        width: 90%;
        a {
          height: 150px;
          width: 150px;
          font-size: $size-xbody;
        }
      }
    }
    .docs-content-wrapper {
      width: 90%;
    }
  }
}


//////////////////
// Blog

header.blog-header {
  grid-area: header;

  .main-header {
    width: 90%;
    max-width: 1072px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    font-weight: 700;

    a {
      padding: 5px 10px;

      &:hover, &:focus {
        @include generic-focus-styles;
      }
    }

    .blog-header-logo {
      justify-self: left;
      margin-left: 10px;
      @include sans-serif(700, 28px, 100%);
    }

    .help {
      justify-self: right;
    }
  }

  @include respond(3) {
    .main-header {
      max-width: 1110px;
    }
  }

}

//.post-index-container {
//  width: 90%;
//  max-width: 1072px;
//  margin-left: auto;
//  margin-right: auto;
//
//  .post-index-item-wrapper {
//
//    .post-index-item {
//      margin: 20px 0;
//
//      .post-index-item-title {
//        margin: 0;
//      }
//
//      .post-index-item-date {
//
//      }
//
//      .post-index-item-author {
//        margin: 0;
//
//      }
//
//      .post-index-item-content {
//        h1, h2, h3, h4 {
//          color: $color-black;
//        }
//
//        h1 {
//          font-size: $size-xlarge;
//          margin-bottom: 10px;
//        }
//
//        h2 {
//          font-size: $size-large;
//        }
//
//        h3 {
//          font-size: $size-body;
//        }
//
//        a {
//          color: $color-blue;
//          &:hover {
//            color: $color-red;
//          }
//        }
//      }
//
//      .post-index-item-footer {
//        .article-footer {
//          margin: 0;
//          padding: 0;
//        }
//      }
//    }
//  }
//}

.post-index-container {
  .pagination {
    margin-bottom: 40px;
  }
}

.post-container, .post-index-container {
  width: 90%;
  max-width: 1072px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 0;

  .post-header {
    margin: 0;

    .post-title {
      margin: 0;
    }

    .post-date {
      font-weight: 500;
    }

    .post-author {
      font-weight: 300;
    }
  }

  .post-content {

    h1, h2, h3, h4 {
      color: $color-black;
    }

    h1 {
      font-size: $size-xlarge;
      margin-bottom: 10px;
    }

    h2 {
      font-size: $size-large;
    }

    h3 {
      font-size: $size-body;
    }

    a {
      color: $color-blue;
      &:hover {
        color: $color-red;
      }
    }

    img {
      max-width: 90%;
      box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, .2);
      border: 2px solid $color-gray;

    }
  }
}

.post-container {
  display: grid;
  grid-template-areas: "post-header" "post-content" "post-footer";
}


.article-footer {
  background: $color-background;
}




////////////////////////////////////////////////
//  footer

footer {
  grid-area: footer;
  background: $color-blue;
  color: $color-white;
  padding-top: 40px;
  padding-bottom: 40px;
  font-weight: 700;

  .footer-wrapper {
    width: 90%;
    max-width: 1072px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-areas: "footer-links" "footer-copyright";
    overflow: auto;
  }

  .footer-links {
    grid-area: footer-links;
    justify-self: left;

    ul {
      list-style-type: none;
      margin-bottom: 0;
      padding-left: 0;
    }

    li {
        display: block;
      }

      a {
        &:hover {
          border-bottom: 2px solid $color-white;
        }
      }
    }

  .footer-copyright {
    grid-area: footer-copyright;
    font-weight: 500;
    font-size: $size-body;
    justify-self: right;
    padding-left: 50%;

  }
}



// All styles required for sticky footer:
// if html content would normally be shorted than viewport,
// this ensures that the footer is affixed to the bottom, while
// maintaining normal behavior on longer pages
html {
  min-height: 100%;
  background: $color-trans-whispergray;
}
body {
  // Margin bottom equals footer height, set below
  margin-bottom: 300px;
  position: initial;
}
body > footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 300px;
}


////////
// Skip Links
.skip-link {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */

  &:focus {
    background-color: $color-black;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    clip-path: none;
    color: white;
    display: block;
    //font-family: $headings-font-family;
    font-size: 1.3em;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
  }
}


////////
// Page-Specific Overrides


// about page, LIL contact info tweaks
#about-specs, #about-address {
  clear: both;
  padding-left: 0;
  @include respond(4){
    font-weight: 500;
    font-size: $size-body;
  }
}
#about-specs {
  padding-top: 0;
  a {
    @include link-none($color-highlight);
    @extend %link-arrow;
  }
}
#about-address {
  padding-top: 0;
  margin-bottom: $grid * 2;
}

.map a {
  @include link-none($color-highlight);
  text-decoration: underline;
  font-size: $size-small;
}

//  glossary page

.glossary-content {
  font-size: $size-large;
  padding-left: 10px;

  .docs-text {

    .term {
      color: $color-blue;
    }

    p {
      font-size: $size-body;
    }
  }
}



